.products {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    background-color: rgb(140, 140, 236);
}

div {
    width: 150px;
    align-content: center;
    height: 50px;
    margin: 10px;
    background-color: rgb(197, 128, 0);
}
.product span {
    margin:  auto;
}